Redirect URI issue in openiddict  'redirect_uri' parameter must be a valid absolute URL'

### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

Hi Kevin
While running one of the client application, we are getting the following error in the authorization flow.

The 'redirect_uri' parameter must be a valid absolute URL

We have configured redirect URI as   'http://dev.test.com/v2/#/dev-signin/#' in OpeniddictApplication Table. Can you please assist in this case.


Hi,

> We have configured redirect URI as 'http://dev.test.com/v2/#/dev-signin/#' in OpeniddictApplication Table.

The error you're getting is sadly clear about what's wrong: you're specifying a **malformed URL** as a valid URL cannot include two fragments. BTW, OpenIddict performs the same check when creating the client application via `IOpenIddictApplicationManager` so it's likely you bypassed it by directly injecting this invalid URL in the database, which is not a recommended (or supported) scenario.

If you remove the last `/#` part, you'll get a different error telling you fragments are not allowed in `redirect_uri`, as required by the OAuth 2.0 specification: 

> The redirection endpoint URI MUST be an absolute URI as defined by [[RFC3986] Section 4.3](https://www.rfc-editor.org/rfc/rfc3986#section-4.3).  The endpoint URI MAY include an "application/x-www-form-urlencoded" formatted (per [Appendix B](https://www.rfc-editor.org/rfc/rfc6749#appendix-B)) query component ([[RFC3986] Section 3.4](https://www.rfc-editor.org/rfc/rfc3986#section-3.4)), which MUST be retained when adding additional query parameters.  The endpoint URI MUST NOT include a fragment component.

https://www.rfc-editor.org/rfc/rfc6749#section-3.1.2

Hope it's clear.

Thanks Kevin for your response. As client application is Vue.js application which do not have more control. Is there any way where can skip these validation for redirectURI and PostLogoutURI so that application can work. 

u may use a device flow to avoid uri checks

Have tried with below code snippet..but not sure about how to handle same validation for post logout URI and all other validation that openiddict framework out of the box performs.
 options.AddEventHandler<OpenIddictServerEvents.ValidateAuthorizationRequestContext>(builder =>
                {
                    builder.UseInlineHandler(context =>
                    {
                        //var request = context.Transaction.GetHttpRequest() ?? throw new InvalidOperationException();
                       
                        if (context.RedirectUri.Contains("#"))
                        {
                            context.SkipRequest();
                        }
                        return default;
                    
                });
                builder.SetOrder(InferEndpointType.Descriptor.Order + 1);
                });

HI Kevin,
Would you let us know if anything can be done to skip validation for post logout redirect uri and redirect URI..

> HI Kevin,
Would you let us know if anything can be done to skip validation for post logout redirect uri and redirect URI..

Validation of callback URLs is one of the most **critical** parts of OAuth 2.0. Skipping it completely is not a good idea at all and will result in token leakages, ruining the entire security of your system.

The right and only reasonable approach in your case is to fix the client to use non-malformed URLs or working with the vendor of the client application if it's not something you can do yourself.

That said, replacing the `redirect_uri` validation logic is technically possible and consists in removing the built-in handlers from the pipeline and replacing them by your own handlers. Something like that:

```csharp
options.RemoveEventHandler(OpenIddictServerHandlers.Authentication.ValidateRedirectUriParameter);

options.AddEventHandler<OpenIddictServerEvents.ValidateAuthorizationRequestContext>(builder =>
{
    builder.UseInlineHandler(context => { ... });

    // Put your custom handler at the same place in the pipeline as the original event handler.
    builder.SetOrder(OpenIddictServerHandlers.Authentication.ValidateRedirectUriParameter.Descriptor.Order);
});
```

(again, it's a terrible idea, don't do it!)

Thanks Kevin for quick response. Agree with you and trying to push 3 rd party to give URL without fragment.   

After running above code, We are still getting error for post logout redirect URI, the 'post_logout_redirect_uri' parameter must not include a fragment. If you could share event handler for post logout redirect URI to remove, would be helpful



> If you could share event handler for post logout redirect URI to remove, would be helpful

Should be something like this:

```csharp
options.RemoveEventHandler(OpenIddictServerHandlers.Session.ValidatePostLogoutRedirectUriParameter);

options.AddEventHandler<OpenIddictServerEvents.ValidateLogoutRequestContext>(builder =>
{
    builder.UseInlineHandler(context => { ... });

    // Put your custom handler at the same place in the pipeline as the original event handler.
    builder.SetOrder(OpenIddictServerHandlers.Session.ValidatePostLogoutRedirectUriParameter.Descriptor.Order);
});
```

Again... at your own risks 🤣 

Hi Kevin, have put the same code using in line event handler in my class for validateAuthrization request and ValidateLogoutRequestContext. but both events continues fires and it goes to indefinite loop after login process. Below is the code for reference.
//** to ignore the validation of redirectUriParameter
options.RemoveEventHandler(OpenIddictServerHandlers.Authentication.ValidateRedirectUriParameter.Descriptor);
                //***********************************
                options.AddEventHandler<OpenIddictServerEvents.ValidateAuthorizationRequestContext>(builder =>
                {
                    builder.UseInlineHandler(context => {
                        if (string.IsNullOrEmpty( context.RedirectUri))
                        {
                           // context.()
                        }
                        return default;
                     });

                    // Put your custom handler at the same place in the pipeline as the original event handler.
                    builder.SetOrder(OpenIddictServerHandlers.Authentication.ValidateRedirectUriParameter.Descriptor.Order );
                });

             //*** Skip the post logout validation
                options.RemoveEventHandler(OpenIddictServerHandlers.Session.ValidatePostLogoutRedirectUriParameter.Descriptor);
                options.AddEventHandler<OpenIddictServerEvents.ValidateLogoutRequestContext>(
                    builder =>
                    {
                            builder.UseInlineHandler(context =>
                            {
                                return default;          
                            });
                     
                     builder.SetOrder(OpenIddictServerHandlers.Session.ValidatePostLogoutRedirectUriParameter.Descriptor.Order );
                    });

Hey. Without seeing logs or a network trace, it's impossible to give any clue, sadly 😕 

hi kevin 

I'm using Keycloak for authentication in an Angular application with hash-based routing. However, after authentication, Keycloak redirects the user to an incorrect URL, losing the hash part of the route.

For example, after a successful login, Keycloak redirects to:

perl

http://localhost:8080/realms/my/protocol/openid-connect/auth?response_type=code&client_id=docentis-client&redirect_uri=http://localhost:4200/#/callback?scope=openid

But once authenticated, the redirect results in:


http://localhost:4200/?state=&session_state=********************

The problem is that the hash (#/callback) is missing after redirection, 